
@{
    ViewData["Title"] = "Index";
}

<h2>Consultar dados do clima de Curitiba</h2>

<div style="margin-top:30px" class="container">
    <form asp-action="ConsultarCondicao">
        <input type="submit" value="Consultar"
               class="btn btn-success" />
    </form>
</div>